body {
    background: linear-gradient(45deg, #9c27b0, #31d5eb);
}
.container {
    /* background-color: white; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: auto;
}

#items {

}

#ulList {

}
li {
    cursor: pointer;
}